@media screen and (min-width:480px) and (max-width:767px){
   
    #a{
        width: 480px;
        height:75px;  
    }
    #b{
        width: 480px;
        height:75px;
    }
    #c,#d{
        width: 480px;
        height:125px;
    }
    #container1{
        width: 480px;
        border: none;
    }
    #container{
        width: 480px;
        height: 250px;
        border: none;
        display: flex;
      
    }
    #e,#f,#g,#h{
        width: 240px;
        height:250px;
        /* float: left; */
        
    }
    #f,#h{
        
        border-left: none;
    }
    #i{
        clear: both;
        width: 480px;
        height:80px;
        border-bottom: 1px solid black;
    }

}


@media screen and (min-width:768px) and (max-width:960px){

main{
        /* width: 960px;
        height: 700px; */
        display: grid;
        grid-template-columns: 200px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;
        grid-template-areas: 
          "header header header header"
          "sidebar . sub-main sub-main"
          "sidebar . items items items items"
          "sidebar . footer footer footer";
    }

    
#a{
   
    border-bottom: none;
    grid-area: header;

    
}
#container1{
    
    border: none;
    grid-area:sub-main;
  
}

#b{
    
    grid-area: sidebar;

    
}
#c{
    grid-area: item-1;

}
#d{
    /* width:380px;
    height:200px; */
    border-left: none;
    border-bottom: none;
    grid-area: item-2;


}

#container{
    
    border: none;
    grid-area:items;
    

}
#e{
    grid-area: item-3;

}
#f{
    grid-area: item-4;

}
#g{
    grid-area: item-5;

}
#h{
    
    border-left: none;
    grid-area: item-6;


}
#i{
    border-top: none;
    border-left: none;
  
    grid-area: footer;
}


}