@media screen and (min-width:480px) and (max-width:767px){
    main{
        display: grid;
        grid-template-columns: 240px  240px;
        grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
    }
    #a{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #b{
        grid-column: 1/3;
        grid-row: 2/3;
       
    }
    #c{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #d{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    
    #e{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #f{
        grid-column: 2/3;
        grid-row: 5/6;
       
    }
    #g{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    #h{
        grid-column: 2/3;
        grid-row: 6/7;
    }
    #i{
        grid-column: 1/3;
        grid-row: 7/8;
    }

}


@media screen and (min-width:768px) and (max-width:960px){
main{
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
}
#a{
    grid-column: 1/6;
    grid-row: 1/2;
}
#b{
    grid-column: 1/2;
    grid-row: 2/4;
}

#c{
    grid-column: 2/4;
    grid-row: 2/3;
}
#d{
    grid-column: 4/6;
    grid-row: 2/3;
}
#e{
    grid-column: 2/3;
    grid-row: 3/4;
}
#f{
    grid-column: 3/4;
    grid-row: 3/4;
}
#g{
    grid-column: 4/5;
    grid-row: 3/4;
}
#h{
    grid-column: 5/6;
    grid-row: 3/4;
}
#i{
    grid-column: 1/6;
    grid-row: 4/5;
}
}